h1.toUppercase{
    border-bottom: 3px #000 solid;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.personnalsInformations div {
    margin-bottom: 20px;
}

.input {
    width: 500px;
    border: none;
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 20px;
}

.select{
    border: none;
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 20px;
}

.btn-reserve{
    background-color: #ff5f00;
    width: 15vw;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-top: 40px;
}


