.subline{
    background-color: #000;
    margin: none;
}

.subline h3{
    font-size: 25px;
    margin-top: -5px;
    color: #fff;
    padding: 20px;
}

.backgroundOrange h2{
    font-size: 35px;
    padding-top: 20px;
    margin-bottom: 40px;
    font-weight: 900;
}

.backgroundOrange h3{
    font-size: 25px;
    margin-bottom: 40px;
    font-weight: 500;
}



/* Option cards */
.optionsCardsContainer{
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
}

.optionsCards{
    color: #fff;
    width: 450px;
    margin: 20px;
    height: 200px;
    padding: 20px;
    background-color: #000;
    cursor: pointer;
}

.optionsCards:hover{
    color: #000;

    background-color: #fff;
}