/* Fonts */
@import url('./assets/fonts/stylesheet.css');

/* Components */
@import url('./components//Header/Header.css');
@import url('./components/Footer/Footer.css');
@import url('./components/Search/Search.css');

/* Pages */
@import url('./pages/Home//Home.css');
@import url('./pages/Offerlist/Offerlist.css');
@import url('./pages/Personnaldetails/Personnaldetails.css');
@import url('./pages/Backoffice/Backoffice.css');
@import url('./pages/Offerconfig/Offerconfig.css');

*, div{
    font-family: "Roboto";
}

.flex-center-between{
    display: flex;
    align-items: center; 
    justify-content:space-between;
    gap: 20px;
}

.flex-center-center{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    flex-direction: column;
    justify-content:center;
    gap: 20px;
}

.toUppercase{
    text-transform: uppercase;
}

.orange{
    color: #ff5f00;
}

.mySwiper{
    z-index: 0!important;
}

.backgroundOrange{
    padding: 20px;
    background-color: #ff5f00;
}

.fs-30{
    font-size: 30px;
}

.fs-25{
    font-size: 25px;
}